<h1> Cara Belanja</h1>
<ul>
	<li> Pilih barang</li>
	<li> Tekan tombol Add to Cart / Tambah ke Keranjang</li>
	<li> Tekan tombol checkout </li>
	<li> Isi nama, alamat pengiriman dll</li>
	<li> Tekan tombol place order</li>
	<li> Cek tagihan pada email </li>
	<li> Bayar sesuai tagihan di tambah ongkos kirim</li>
	<li> Konfirmasi</li>
</ul>
<p> Atau bisa hubungi nomor customer servis kami 0858 8371 84xx</p>
<table>
	<tr>
		<td> <%= image_tag "https://res.cloudinary.com/ab-technology/image/upload/v1508158502/1200px-BankNegaraIndonesia46-logo.svg_mgxprd.png", width: 100, height: 50 %> </td>
		<td>Musa Abdillah</td>
		<td>034 281 1454</td>
	</tr>
</table>
