<h3> Pengiriman Pesanan - Toko Buku Pragmatic </h3>

<p>
  Kami informasikan Pesanan adan sudah di kirim:
</p>

<table>
	<tr>
		<th colspan="2"> Jumlah </th>
		<th> Deskripsi </th>
	</tr>
	<%= render @order.line_items -%>
</table>
